

form {
	.panel.component, .component-definition {
		& > .panel-heading {
			display: none;
		}

		& > .panel-body {
			padding: 0px;
		}
	}

	.component-definition-not-selected {
		display: none;
	}
}